@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Audiowide", sans-serif;
  font-size: 16px;
}

@layer utilities {
}
