@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Audiowide", sans-serif;
  font-size: 16px;
}

@layer utilities {
  .blueButton {
    background-color: theme("colors.blue");
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 4mm ridge theme("colors.yellow");
    color: theme("colors.white");
  }

  .pinkButton {
    background-color: theme("colors.yellow");
    padding: 1rem 1rem;
    border-radius: 100%;
    border: solid theme("colors.blue");
    color: theme("colors.dark");
    height: 5rem;
    width: 5rem;
  }

  .active-nav {
    background-color: theme("colors.yellow");
    color: theme("colors.dark");
  }

  .menu {
    transition: transform 0.4s ease-out;
    z-index: 5;
  }

  .active {
    transform: translate(0);
  }
}
